
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Gotham Rounded;

}

body{
    background-color: lightskyblue;

}

.start_btn,
.rules_box,
.container,
.result{

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 50%);
    transition: all 0.3s ease;

}

.rules_box.activeInfo,
.container.activeQuiz,
.result.activeResult{

    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);

}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15px 30px;
    outline: 1px solid;
    border: 1px solid lightblue;
    border-radius: 15px;
    background: white;

    cursor: pointer;
}
.start_btn button:hover{
    background: lightblue
}


.rules_box{

    width: 500px;
    background: white;
    border-radius: 10px;

    padding: 10px;
    

    justify-content: space-between;

    opacity: 0;
    pointer-events: none;

    transform: translate(-50%, -40%);

}
.rules_box .rules_title{
    height: 50px;;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0 35px;

    font-size: 20px;
    font-weight: 600;
}
.rules_box .rules_list{
   padding: 15px 35px;
}
.rules_box .rules_list .rule{
    margin: 5px 0;
    font-size: 18px;
}

.rules_box .rules_list .rule span{
  font-weight: 600;
  color: lightskyblue;
}
.rules_box .controls{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;

}

.rules_box .controls button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    
    border: 1px solid lightblue;

    border-radius: 10px;

    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

  
}
.rules_box .controls .start{
    color: black;
    background: lightblue;
}
.rules_box .controls .quit{
    color: black;

}
.rules_box .controls .quit:hover{
    background: lightblue;
}


.container{

    width: 500px;
    flex-direction: flex;
    background:white;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    font-size: 30px;

    opacity: 0; 
    transform: translate(-50%, -40%);

    pointer-events: none; 

}
.container header{

    position: relative;
 
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;

    border-bottom: 2px solid lightskyblue;


    justify-content: space-between;

}

.container header .title{
    font-size: 20px;
    font-weight: 600px;
}

.container header .timer{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: white;
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 0 8px;
}
.container header .timer .time_text{
    font-weight: 400;
    font-size: 18px;
    user-select: none;


}
.container header .timer .timer_sec{
    font-size: 20px;
    font-weight: 500;
    background-color: lightblue;
    height: 30px;
    width: 45px;
    color: black;

    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    user-select: none;

}





.container section{
    padding: 25px 30px 20px 30px;
    background: white;
}
.container section .multiple_choice{
    padding: 20px 0;
    display: block;

}
.container section .multiple_choice .choice{
    background: white;
    padding: 8px 15px;
    border: 3px solid lightblue;
    border-radius: 15px;

    padding: 5px 10px;

    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;

    cursor: pointer;

}
.container section .multiple_choice .choice:hover{
    color: black;
    background: lightblue;

}
.container section .multiple_choice .choice:last-child{
    margin-bottom: 0px;
}
 
.multiple_choice .choice.correct{
    color: green;
    background: lightgreen;
}
.multiple_choice .choice.incorrect{
    color: red;
    background: lightcoral;
}

.multiple_choice .choice.disabled{
    pointer-events: none;
}



.container footer{

    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;

    justify-content: space-between;

}
.container footer .question_count{
    display: flex;
    user-select: none;
    
}

footer .question_count p{
    font-weight: 500;
    
    padding: 0 5px;
}
footer .question_count p:first-child{
    padding-left: 0px;
}



footer .next_btn{
    display: none;

    height: 40px;
    padding: 0 18px;
    font-size: 18px;
    font-weight: 400;

    border: 1px solid lightblue;
    border-radius: 15px;
    color: black;

    background: white;
    cursor: pointer;

}

footer .next_btn:hover{
    background: lightblue;
}

.result{
    background: white;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;

    flex-direction: column;

    text-align: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    transform: translate(-50%, -40%);

}

.result .completed_text{
    font-size: 20px;
    font-weight: 500;
    color: darkblue
}


.result .controls{
    display: flex;
    margin: 20px 0;

}
.result .controls button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: 3px solid lightskyblue; 
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px solid blue;


    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}
.result .controls button:hover{
    background: lightblue;
}


    


