

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Gotham Rounded;

}

body{
    background-color: lightblue;

}


.start_btn,
.info_box,
.container,
.result{

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 50%);
    transition: all 0.3s ease;

}

.info_box.activeInfo,
.container.activeInfo,
.result.activeInfo{

    z-index:5;

    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);

}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: darkblue;
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    background: white;

}


.info_box{
    width: 500px;
    background: white;
    border-radius: 5px;

    pointer-events: none;

}
.info_box .rules_title{
    height: 50px;;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0 35px;

    font-size: 20px;
    font-weight: 600;
}
.info_box .rules_list{
   padding: 15px 35px;
}
.info_box .rules_list .rule{
    margin: 5px 0;
    font-size: 20px;
}

.info_box .rules_list .rule span{
  font-weight: 600;
  color: lightskyblue;
}

.info_box .controls button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    

    color: blue;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.info_box .controls .start{
    color: white;
    background: blue;
}
.info_box .controls .quit{
    color: blue;

}


.container{

    width: 500px;
    background:white;

    border-radius: 5px;
    box-shadow: 0 0 10px 2px;

    font-size: 30px;

}
.container header{

    position: relative;
 
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;

    justify-content: space-between;

}

.container header .title{
    font-size: 20px;
    font-weight: 550;
}

.container section{
    padding: 25px 30px 20px 30px;
    background: white;
}
.container section .multiple_choice{

    padding: 20px 0;
    display: block;

}
.container section .multiple_choice .choice{
    background: lightskyblue;
    padding: 8px 15px;
    border: 3px solid lightblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

}
.container section .multiple_choice .choice:hover{
    color: lightskyblue;
    background: blue;
    border-color: aliceblue;

}
.container section .multiple_choice .choice:last-child{
    margin-bottom: 0px;
}

.multiple_choice .choice.correct{
    color: green;
    background: white;
    border-color: white;
}
.multiple_choice .choice.incorrect{
    color: lightcoral;
    background: white;
    border-color: white;
}
.container footer{

    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;

}
.container footer .final_score{
    display: flex;
    
}
footer .next_btn{
    display: none;

    height: 40px;
    padding: 0 18px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    color: white;
    background: lightblue;
}
footer .next_btn:hover{
    background: blue;
}

.result{
    background: white;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;

}
.result .completed_text{
    font-size: 20px;
    font-weight: 500;
    color: darkblue
}


.result .controls{
    display: flex;
    margin: 20px 0;

}
.result .controls button{
    margin: 0;
    height: 40px;
    padding: 0 20px;
    border: 3px solid lightskyblue; 
    border-radius: 3px;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px solid blue;


    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}
.result .controls button:hover{
    background: lightblue;
}

    


